<div class="main-container">
    <div class="item">
        <h3>More Ways to get away</h3>
        <p>Explore our newly expanded destinations</p>
        <button class="item-btn">Discover Our Destinations</button>
    </div>
    <div class="item">
        <h3>Fuel your Wanderlust</h3>
        <p>Tap into a wealth of travel tips, inspired vacation ideas and epert adivce to get the most out of your precious vacation days</p>
        <button class="item-btn">Start Planning</button>
    </div>
    <div class="item">
        <h3>Is vacation ownership for you?</h3>
        <p>Our more than 515,000 Members around the world already call our world-class points-based timeshare program their own - and do can you.</p>
        <button class="item-btn">Explore Ownership</button>
    </div>
</div>
<div class="cards-container">
    <div class="card">
        <div class="img-content">
            <img class="img" src="https://www.hiltongrandvacations.com/-/media/images/main/resorts/01-tile-thumbs/ny-thc-ext-002.jpg?h=450&iar=0&w=367&hash=7B580705AB8ACB76377AC5AC6907C981" alt="">
        </div>
        <div class="img-text">
            <p>The Hilton Club -New York</p>
        </div>
    </div>
    <div class="card">
        <div class="img-content">
            <img class="img" src="https://www.hiltongrandvacations.com/-/media/images/main/resorts/01-tile-thumbs/hi-gw-ext-007-thumb.jpg?h=450&iar=0&w=367&hash=41E724C6F7E3537534D0DEB62FD8CDD8" alt="">
        </div>
        <div class="img-text">
            <p>Grand Waikikian, a Hilton Grand Vacations Club</p>
        </div>
    </div> 
    <div class="card">
        <div class="img-content">
            <img class="img" src="https://www.hiltongrandvacations.com/-/media/images/main/resorts/01-tile-thumbs/fl-sw-ext-004-thumb.jpg?h=450&iar=0&w=367&hash=B4E9C26272338C0362750D0BC9D73D82" alt="">
        </div>
        <div class="img-text">
            <p>SeaWorld Orlando, a Hilton Grand Vacations Club</p>
        </div>
    </div>
</div>
